body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

ul{
    padding: 0px!important;
}

.menu-principal
{
    width: 100%;
    background-color: #a9a7a7;
    height: 60px;
}

main{
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo{
float: left;
    padding: 15px;
    width: 70%;
}

.acesso ul li{
    margin-left: 15px;
    display: inline-block;
    float: left;
    list-style: none;
}

.acesso{
    width: 20%;
    float: left;
}

.header-2{
    background-color: #d8d4d4;
    width: 980px;
    margin: 0 auto;
    padding: 16
    px;
}

.menu-urls{
    height: 80%;
    border-bottom: 3px solid #efefef;
}

.menu ul li {
    display: inline-block;
    color: #8b8b88;
    margin-left: 15px;
}

.menu ul li a {
    color: #8b8b88;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.menu{
    width: 70%;
    float: left;
}

.busca{
    text-align: center;
    width: 30%;
    float: right;
}

.busca input{
    background-image: url('../img/icone');
    background: no-repeat;
    background-position: 96%;
    height: 36px;
    padding: 12px;
    width: 190px;
    margin-top: 10px;
    border: 1px solid #d6d6d6;
    
}

.col-100{
    width: 100%;
    float: left;
    position: relative;
}

.Login{
    border-radius: 10px;
    width: 400px;
    padding: 40px;
}

.Login h2{
    margin-bottom: 30px;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.Login .box-user{
    position: relative;
}

.Login .box-user input{
    width: 100%;
    padding: 10px 0;
    outline: none;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px;
}

.Login .box-user label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.Login .box-user input:focus~label, .Login .box-user input:valid~label{
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.forget{
    font-size: 12px;
    color: #5b6b8b
    float: right;
}

.btn{
    position: relative;
    display: inline-block;
    padding: 12px 20px;
    color: #03e9f4;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    margin-top: 20px;
    transition: .5s;
    overflow: hidden;
}

.btn :hover{
    background: #03e9f4;
    border-radius: 5px;
    color: #172031;
}

.btn span{
    position: absolute;
    display: block;
}

.btn span:nth-child(1){
    top: 0;
    left: -100;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn1 1s linear infinite;
}

@keyframes btn1{
    0%{
        left: -100%;
    }
    50%,
    100%{
        left: 100%;
    }
}

.btn span:nth-child(2){
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn2 1s linear infinite;
    animation-delay: .20s;
}

@keyframes btn2 {
    0%{
        top: -100%;
    }
    50%,
    100%{
        top: 100%;
    }
}

.btn span:nth-child(3){
    bottom: 0;
    right: -100;
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn3 1s linear infinite;
    animation-delay: .45s;
}

@keyframes btn3 {
    0%{
        right: -100%;
    }
    50%,
    100%{
        right: 100%;
    }
}

.btn span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(26deg, transparent, #03e9f4);
    animation: btn4 1s linear infinite;
    animation-delay: .70s;
}

@keyframes btn4 {
    0%{
        bottom: 100%;
    }
    50%,
    100%{
        bottom: -100%;
    }
}